#info {
  background-color: lightblue;
  padding: 10px;
  border-color: black;
  border-style: solid;
  margin-top: 5px;
}

#image, #me {
  border-color: black;
  border-style: dashed;
  padding: 10px;
}
